*{
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

/* --Navbar style-- */

nav{
    background-color: black;
    color: white;
    padding: 20px;
}

nav ul{
    display: flex;
    justify-content:center;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li{
    margin-right: 30px;
    
}

nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
}

/* --index.html style-- */

.container{
    background-color: #e8eaf6;
    /* border: 2px solid red; */
    max-width:100%;
    margin: 80px;
    padding: 10px;
}

.outerbox{
    margin-top: 10px;
    display:flex;
    justify-content:space-between;
    /* border: 2px solid green; */
    padding: 10px;
}

#header{
    font-size: 20px;
}

#addQuestionBtn{
    border: 0; 
    border-radius: 5px;  
    background-color: #c5cae9;
    padding: 10px;
}

.popup{
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-content{
    height: 250px;
    width: 500px;
    background:  #fff ;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

form{
    display:inline-block;
}

label{
    border: 2px red solid;
    margin-left: 30px;
    margin-right: 80px;
}

input{
    margin-bottom: 10px;
    border: 2px red solid;
}

button{
    display:list-item;
    margin-top: 40px;
    margin-left: 50px;
}

.searchBox{
    background-color: white;
    /* border: 2px solid rgb(64, 0, 255); */
    border-radius: 5px;
    display:flex;
    justify-content: space-between;
    margin-top: 30px;
    padding: 10px;
}

#textArea{
    padding-left: 10px;
    border: 0px;
    background-color: #e8eaf6;
    width: 80%;
}

#searchBtn{
    background-color: #3f51b5;
    color: white;
    border: 0px;
    border-radius: 5px;
    width: 25%;
    margin-left: 10px  ;
    padding: 10px 80px 10px 80px;

}
